<head><title>Batter Projections | OOTP Calculator</title></head>
<div class="container-fluid" style="padding-bottom: 40px">
    <h1 class="title">OOTP BATTER PROJECTIONS</h1><hr>
    <p>By entering current player ratings, the projection calculator will determine projected full-season stats for the player. The current edition of the projection calculator is best suited for 2020 MLB saves &mdash; you're welcome to try it for historical or international leagues, but the system has been optimized specifically for a modern MLB evironment.</p>
    <p>To make a projection, just fill out the fields below! To edit or delete a player, click on their entry in the table.</p>
    <hr>
    <form>
        <div class="form-group row">
            <div class="col-3"></div>
            <label class = "col-2" for="scale">Ratings Scale</label>
            <select class="form-control col-3" id="scale" name="scale" [(ngModel)]="scale" default="20 to 80" (change)="scaleChange()">
                <option>1 to 5</option>
                <option>2 to 8</option>
                <option>1 to 10</option>
                <option>1 to 20</option>
                <option>20 to 80</option>
                <option>1 to 100</option>
            </select>
        </div>
        <table class="table table-input">
            <tr class="row-head">
                <th>Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Bats</th>
                <th>Contact</th>
                <th>Gap</th>
                <th>Power</th>
                <th>Eye</th>
                <th>Avoid&nbsp;K's</th>
                <th>Speed</th>
                <th>Stealing</th>
                <th>Defense</th>
            </tr>
            <tr>
                <td class="col-name" *ngIf="!this.editing">
                    <input class="form-control" type="text" name="name" [(ngModel)]="name" placeholder="Player Name">
                </td>
                <td class="col-name" *ngIf="this.editing">
                    <input class="form-control" type="text" name="name" [(ngModel)]="name" disabled="disabled">
                </td>
                <td class="col-team">
                    <select class="form-control" name="team" [(ngModel)]="team">
                        <option *ngFor="let team of this.teams">{{team}}</option>
                    </select>
                </td>
                <td class="col-pos"><select class="form-control" name="pos" [(ngModel)]="pos">
                    <option>-</option>
                    <option>C</option>
                    <option>1B</option>
                    <option>2B</option>
                    <option>3B</option>
                    <option>SS</option>
                    <option>LF</option>
                    <option>CF</option>
                    <option>RF</option>
                    <option>DH</option>
                </select></td>
                <td class="col-bats"><select class="form-control" name="bats" [(ngModel)]="bats">
                    <option>-</option>
                    <option>L</option>
                    <option>R</option>
                    <option>S</option>
                </select></td>
                <td><input class="form-control" type="number" name="contact" [(ngModel)]="contact"></td>
                <td><input class="form-control" type="number" name="gap" [(ngModel)]="gap"></td>
                <td><input class="form-control" type="number" name="power" [(ngModel)]="power"></td>
                <td><input class="form-control" type="number" name="eye" [(ngModel)]="eye"></td>
                <td><input class="form-control" type="number" name="avoid" [(ngModel)]="avoid"></td>
                <td><input class="form-control" type="number" name="speed" [(ngModel)]="speed"></td>
                <td><input class="form-control" type="number" name="stealing" [(ngModel)]="stealing"></td>
                <td><input class="form-control" type="number" name="defense" [(ngModel)]="defense"></td>
            </tr>
        </table>
        <button *ngIf="!this.editing" id="submit" class="btn btn-ootp" (click)="onSubmit()">SUBMIT</button>
        <button *ngIf="!this.editing" id="submit" class="btn btn-clear" (click)="clearInput()">CLEAR</button>
        <button *ngIf="this.editing" id="save" class="btn btn-ootp" (click)="onSubmit()">SAVE PLAYER</button>
        <button *ngIf="this.editing" id="delete" class="btn btn-clear" (click)="clearInput()">DELETE PLAYER</button>
        <p *ngIf="this.errorFields" class="error">All fields must be filled out!</p>
        <p *ngIf="this.errorRange" class="error">Ratings must be within the range of the selected scale!</p>
        <p *ngIf="this.errorInterval" class="error">20-80 ratings must be multiples of 5!</p>
        <p *ngIf="this.valid" style="user-select: none">&nbsp;</p>
    </form>
    <table class="table table-output">
        <tr class="row-head">
            <th>Name</th>
            <th>Team</th>
            <th>Pos</th>
            <th>Bats</th>
            <th>G</th>
            <th>PA</th>
            <th>AB</th>
            <th>H</th>
            <th>2B</th>
            <th>3B</th>
            <th>HR</th>
            <th>BB</th>
            <th>SO</th>
            <th>AVG</th>
            <th>OBP</th>
            <th>SLG</th>
            <th>ISO</th>
            <th>OPS</th>
            <th>OPS+</th>
            <th>BABIP</th>
            <th>WAR</th>
            <th>SB</th>
            <th>CS</th>
        </tr>
        <tr class="row-body" *ngFor="let batter of this.batters; index as i; first as isFirst" (click)="editBatter(batter)">
            <td class="col-name">{{batter.name}}</td>
            <td class="col-stat">{{batter.team}}</td>
            <td class="col-stat">{{batter.pos}}</td>
            <td class="col-stat">{{batter.bats}}</td>
            <td class="col-stat">{{stats[i].gp}}</td>
            <td class="col-stat">{{stats[i].pa}}</td>
            <td class="col-stat">{{stats[i].ab}}</td>
            <td class="col-stat">{{stats[i].h}}</td>
            <td class="col-stat">{{stats[i].h2}}</td>
            <td class="col-stat">{{stats[i].h3}}</td>
            <td class="col-stat">{{stats[i].hr}}</td>
            <td class="col-stat">{{stats[i].bb}}</td>
            <td class="col-stat">{{stats[i].so}}</td>
            <td class="col-stat">{{stats[i].avg}}</td>
            <td class="col-stat">{{stats[i].obp}}</td>
            <td class="col-stat">{{stats[i].slg}}</td>
            <td class="col-stat">{{stats[i].iso}}</td>
            <td class="col-stat">{{stats[i].ops}}</td>
            <td class="col-stat">{{stats[i].opsp}}</td>
            <td class="col-stat">{{stats[i].babip}}</td>
            <td class="col-stat">{{stats[i].war}}</td>
            <td class="col-stat">{{stats[i].sb}}</td>
            <td class="col-stat">{{stats[i].cs}}</td>
        </tr>
    </table>
    <button id="clear" class="btn btn-clear" (click)="clearOutput()">DELETE ALL</button>
    <br><br><br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3>NOTES</h3>
            <hr>
            <p class="notes"><b>Team</b> indicates which team's ballpark is used for park adjustments</p>
            <p class="notes"><b>Position</b> is used to help determine the player's defensive WAR</p>
            <p class="notes"><b>Bats</b> is the player's handedness, which is reflected in park adjustments</p>
            <p class="notes"><b>Contact</b> affects the player's batting average</p>
            <p class="notes"><b>Gap</b> affects the number of doubles and triples hit by the player</p>
            <p class="notes"><b>Power</b> affects the number of home runs hit by the player</p>
            <p class="notes"><b>Eye</b> affects the number of walks drawn by the player</p>
            <p class="notes"><b>Avoid K's</b> affects the number of times the player strikes out</p>
            <p class="notes"><b>Speed</b> affects the player's triples and stolen base attempts</p>
            <p class="notes"><b>Stealing</b> affects the player's stolen base success rate</p>
            <p class="notes"><b>Defense</b> affects the player's defensive WAR</p>
        </div>
    </div>
</div>