* {
    color: white;
    font-family: "Fira Sans Condensed";
}

body {
    background-color: #050d21;
    background-image: url("background.jpg");
}

.title {
    font-weight: bold;
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

div.error {
    font-weight: bold;
    color: #ff6666;
    text-align: center;
    user-select: text;
}

table {
    background: rgba(0, 0, 0, 0.2);
}

.form-control {
    background: rgba(255, 240, 200, 0.22);
    color: white;
    border-radius: 0px;
    border-color: rgba(0, 0, 0, 0.0);
}

nav.navbar {
    background: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}


.navbar-nav > li {
    display: inline-block;
    float: none;
}

.btn-ootp {
    background-image: linear-gradient(#fafafa, #b2b1b1);
    border-radius: 0px;
    border-color: white;
    border-width: 2px;
    font-weight: bold;
    color: black;
}

.btn-ootp:hover {
    background-image: linear-gradient(#b6b6b6, #868585);
    border-color: #b9b9b9;
}

tr:nth-child(odd) {
    background:rgba(0, 0, 0, 0.2);
}

tr:nth-child(even) {
    background:rgba(255, 255, 255, 0.05);
}

.form-group {
    margin: 4px;
}

.li-nav {
    background-image: linear-gradient(#8a8f99, #606775);
    margin: 3px;
}

.li-nav:hover {
    background-image: linear-gradient(#30394b, #4b5363);
}

.li-nav-active {
    background-image: linear-gradient(#30394b, #4b5363);
    margin: 3px;
}

.nav li a {
    color: white;
    font-weight: bold;
}

.nav a:hover {
    background-image: linear-gradient(#30394b, #4b5363);
}

tr:hover {
    background: rgba(255, 240, 200, 0.22);
}

tr.header {
    background-image: linear-gradient(#fafafa, #b2b1b1);
}

th {
    color: black;

}

a {
    color: #ff6666;
}

.footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    user-select: none;
}

p {
    text-align: center;
}

p.notes {
    font-size: 8pt;
    text-align: left;
}

h3 {
    font-weight: bold;
    font-size: 12pt;
}

option {
    background-color: white;
    color: black;
}

form {
    user-select: none;
}

nav {
    user-select: none;
}

label {
    user-select: text;
}

.form-check-label {
    user-select: none;
}