<h1 class="title">COMING SOON!</h1><hr>
<p>I'm currently working on a system that can calculate projected stats based on player ratings. It's still a work in progress, but I hope to have it live soon!</p>
<p>If you're really antsy about getting a projection system up and running, <a href="mailto:danielseguin23@gmail.com">contact me</a>! I'm always working on a bunch of projects, but I'll be more inclined to prioritize this one if I know there's interest.</p>
<p>In the meantime, please take advantage of the <a routerLink="/position-calculator">position calculator</a>.</p>