<div class="container-fluid">
    <nav class="navbar navbar-collapse">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">HOME</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/position-calculator" routerLinkActive="active">POSITION CALCULATOR</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/batter-projections" routerLinkActive="active">BATTER PROJECTIONS</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/pitcher-projections" routerLinkActive="active">PITCHER PROJECTIONS</a></li>
        </ul>
    </nav>
</div>