<div class="container-fluid" style="padding-bottom: 40px">
    <h1 class="title">WELCOME TO THE OOTP CALCULATOR!</h1><hr>
    <h2>POSITION CALCULATOR</h2>
    <p>I created this site because I always found myself wondering how good my OOTP players could be if I changed their position. Thanks to a little experimentation, I was able to figure out the formulas to calculate players' maximum possible position ratings based on their current defensive ratings.</p>
    <p>Right now, you can use the <a routerLink="/position-calculator">position calculator</a> to determine exactly how good your players could be at any position.</p>
    <br>
    <h2>PROJECTIONS (UPDATE 12/28)</h2>
    <p>I am getting very close to having a working projection calculator up and running! When it's finished, the the system will be able to calculate projected stats based on current player ratings. Right now I have a spreadsheet working as a prototype for the projection system, and I mostly just need to convert it into code to incorporate it into the site.</p>
    <p>If anyone is super antsy about the projection calculator, feel free to reach out to me using one of the links below. Stay tuned for further updates!</p>
    <br>
    <h2>CONTACT</h2>
    <p>If you have any issues with the site, have any suggestions, or just want to chat, feel free to reach out!</p>
    <p>You can shoot me an <a href="mailto:danielseguin23@gmail.com">email</a>, or find me on <a href="https://www.reddit.com/user/dangraphs" target="_blank">Reddit</a>, <a href="https://www.instagram.com/danseguin23/" target="_blank">Instagram</a>, or <a href="https://twitter.com/danseguin23" target="_blank">Twitter</a>.</p>
    <br>
    <h2>DISCLAIMER</h2>
    <p>I am in no way affiliated with OOTP Developments. This website is by no means official - just a personal project of mine. I'm guessing I'm not infringing on any copyrights, but I'm really not sure. After all, I'm a programmer, not a lawyer.</p>
    <p>Markus, if you're reading this, please don't sue me. Also, hi.</p>
</div>