<div class="container-fluid" style="padding-bottom: 40px">
    <h1 class="title">WELCOME TO THE OOTP CALCULATOR!</h1><hr>
    <h2>POSITION CALCULATOR</h2>
    <p>I created this site because I always found myself wondering how good my OOTP players could be if I changed their position. Thanks to a little experimentation, I was able to figure out the formulas to calculate players' maximum possible position ratings based on their current defensive ratings.</p>
    <p>Right now, you can use the <a href="position-calculator.html">position calculator</a> to determine exactly how good your players could be at any position.</p>
    <br>
    <h2>PROJECTIONS</h2>
    <p>Some time in the (hopefully) near future, I'll have a functioning calculator to determine a player's projected stats based on their ratings. It's not quite ready yet, though, so hang tight!</p>
    <br>
    <h2>CONTACT</h2>
    <p>If you have any issues with the site, have any suggestions, or just want to chat, feel free to reach out!</p>
    <p>You can shoot me an <a href="mailto:danielseguin23@gmail.com">email</a>, or find me on <a href="https://www.reddit.com/user/dangraphs" target="_blank">Reddit</a>, <a href="https://www.instagram.com/danseguin23/" target="_blank">Instagram</a>, or <a href="https://twitter.com/danseguin23" target="_blank">Twitter</a>.</p>
    <br>
    <h2>DISCLAIMER</h2>
    <p>I am in no way affiliated with OOTP Developments. This website is by no means official - just a personal project of mine. I'm guessing I'm not infringing on any copyrights, but I'm really not sure. After all, I'm a programmer, not a lawyer.</p>
    <p>Markus, if you're reading this, please don't sue me. Also, hi.</p>
</div>